body{
    background-color: rgb(224, 224, 224);

}
.custom-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    
}
.headline{
    text-align: center;
    color: #e3f6f5;
    font-family: 'Comfortaa', cursive;
    font-size: 70px;
    background-color: rgba(255, 228, 196, 0.308);
    
}

.profile{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.InfoP{
    font-size: 25px;
    padding: 10px;
    color: #e3f6f5;
    font-family: 'Comfortaa', cursive;
}

.container > p{
    padding: 10px;
    font-size: 16px;
}

.linky{
    padding: 10px;
    padding-bottom: 20px;
    background-color: rgba(255, 228, 196, 0.308);
}
.signupform{
    background-color: rgba(255, 228, 196, 0.308);
    padding: 10px;
    padding-bottom: 20px;
    
}




.pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 60px;
    
}

.card > img{
    width: 100%;
    height: 100%;
}



@media screen and (max-width: 600px){
    .custom-container{
        background-color: #BFCC94;
    }
    .pictures {
        flex-direction: column;
    }
    
    
  }

  @media screen and (min-width: 750px){
    .custom-container{
        background-color: #94ccbe;
    }
    .headline{
        color: black;
    }

    .InfoP{
        color: black;
    }

    

  }

  @media screen and (min-width: 900px){
    .custom-container{
        background-color: #487221;
    }
    .headline{
        color: rgba(195, 193, 230, 0.87);
    }

    .InfoP{
        color: rgba(195, 193, 230, 0.87);
    }
    

  }

  @media screen and (min-width: 1100px){
    .custom-container{
        background-color: #4fa6e0;
    }
    .headline{
        color: white;
    }

    .InfoP{
        color: whitesmoke;
    }
    

  }
